{% extends "::base.html.twig" %}

{% block title %}Produkty{% endblock %}

{% block body %}
    <h1>Lista produktów</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>nazwa</th>
            <th>cena</th>
            <th>opis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.desc }}</td>
                <td>
                    <a href="{{ path('basket_add', {'id': product.id}) }}" class="btn btn-primary">Dodaj do koszyka</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}