{% extends "::base.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <div class="thumbnail clearfix">
        <img src="http://placehold.it/240x200" alt="" class="img-thumbnail">
        <div class="caption">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description | truncate(50, true, ' (...)') }}</p>
            <p>Dostępnych: {{ product.amount }}</p>

            <div class="pull-left">
                <p>
                    <a href="{{ path('basket_add', {'id': product.id}) }}" class="btn btn-primary" role="button">Koszyk</a> 
                    <a href="#" class="btn btn-default" role="button">Pokaż</a>
                </p>
            </div>
            <div class="pull-right">
                <h4 class="text-danger">{{ product.price }}</h4>
            </div>
        </div>
    </div>

    <h2> Komentarze</h2>
    {% if not app.user %}

        <p>Aby móc dodać komentarz musisz się <a href="{{ path('fos_user_security_login') }}">zalogować</a>

        {% else %}
        <form method="post" novalidate>

            <div class="form-group">
                {{ form_row(form.content) }}

                {#
                    {{ form_label(form.content) }}
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content) }}
                #}

            </div>

            {{ form_rest(form) }}

            <input class="btn btn-success" type="submit" value="Dodaj komentarz" />

        </form>
    {% endif %}
    <br />

    {% for comment in product.comments if comment.verified%}

        <div class="row">

            <div class="panel panel-default">
                <div class="panel-body">
                    <p>{{ comment.content }}</p>
                    <small>Dodany {{ comment.createdAt|date('d-m-Y') }} przez {{ comment.user }}</small>
                    <p>
                        <form action="{{ path('vote_up', { 'id': comment.id }) }}" method="PUT">
                        <button type="submit" class="btn btn-default btn-mini" >
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ comment.nbVoteUp }}
                        </button>
                        </form>
                        <form action="{{ path('vote_down', { 'id': comment.id }) }}" method="PUT">
                        <button type="submit" class="btn btn-default btn-mini" >
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{ comment.nbVoteDown }}
                        </button>
                        </form>
                    </p>
                </div>
            </div>

        </div>

    {% else %}

        <p> Nie ma jeszcze żadnych komentarzy. Dodaj swój jako pierwszy!</p>

    {% endfor %}


{% endblock %}