{% extends "::base.html.twig" %}

{% block title %}Produkt{% endblock %}

{% block body %}
    
    <h1>Produkt {{ product.name }}</h1>
           
        <div>
    <div style="width:240px;float:left;display:inline-block;">
         <img src="http://placehold.it/240x200" alt="" class="img-thumbnail">
         <p>
         <h4 class="text-danger" align="right">
            {{ product.price }} 
            <a href="{{ path('basket_add', {'id': product.id}) }}" class="btn btn-primary" role="button">Koszyk</a>
         </h4>
         </p>
    </div>
    <div style="margin-left:300px;">
                <h3>{{ product.name }}</h3>
         <p>{{ product.description }}</p>
         
            </div>
        </div>
    {% endblock %}