{% extends "::base.html.twig" %}

{% block title %}AppBundle:Basket:index{% endblock %}

{% block body %}
    <h1>Koszyk</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>nazwa</th>
            <th>cena</th>
            <th>opis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products_in_basket %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.desc }}</td>
                <td>
                    <a href="{{ path('basket_remove', {'id': product.id}) }}" class="btn btn-primary">Usuń produkt</a>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="5">Koszyk jest pusty</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}